@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

html,
body {
  height: 100%;
}

body {
  @apply bg-ink-50 text-ink-900 transition-colors duration-200 ease-out;
}

* {
  @apply antialiased;
}
